<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="turtlebot3">

  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="use_sim_time" default="true"/>

  <!-- base -->
  <link name="${prefix}base_footprint"/>

  <joint name="${prefix}base_joint" type="fixed">
    <parent link="${prefix}base_footprint"/>
    <child link="${prefix}base_link"/>
  </joint>

  <link name="${prefix}base_link"/>

  <!-- lidar -->
  <link name="${prefix}base_scan"/>
  <joint name="${prefix}scan_joint" type="fixed">
    <parent link="${prefix}base_link"/>
    <child link="${prefix}base_scan"/>
  </joint>

  <!-- Gazebo diff drive -->
  <gazebo>
    <plugin name="diff_drive" filename="libgazebo_ros_diff_drive.so">
      <ros>
        <namespace>${prefix}</namespace>
      </ros>

      <left_wheel>left_wheel</left_wheel>
      <right_wheel>right_wheel</right_wheel>

      <odom_frame>${prefix}odom</odom_frame>
      <base_frame>${prefix}base_footprint</base_frame>

      <publish_tf>true</publish_tf>
      <publish_odom>true</publish_odom>
    </plugin>
  </gazebo>

</robot>
